<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  Welcome to the About page.

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, debitis. Optio, rem numquam totam dolorum aliquam voluptatibus distinctio ea, enim doloremque ipsum cum veniam amet sed repellat quod! Itaque, consectetur!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam distinctio sed ea quo qui eius, iste tempora assumenda odit cumque voluptatum? Eum veniam blanditiis accusamus maiores esse facilis asperiores sit.</p>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, doloremque mollitia explicabo, molestias blanditiis magni vitae culpa sunt voluptatibus voluptas, inventore omnis quae accusamus? Eligendi delectus assumenda iusto reprehenderit sed!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem modi ut aut! Culpa officiis quaerat nisi? Dolore molestias praesentium nobis consequuntur repudiandae dolorum quas vero! Similique nulla dolor tempore vel?</p>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe cupiditate, perferendis fugiat aut dolorum praesentium optio sequi aliquam beatae ex sit quis possimus quod, minus itaque repellendus quos repellat velit!</p>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti repellendus tempore, nobis suscipit cupiditate vero temporibus deserunt inventore corrupti molestiae ad mollitia, fugiat excepturi! Placeat ex accusantium maiores facilis quia?</p>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, quos adipisci illum mollitia voluptatum qui nam obcaecati nemo voluptatibus dolorem inventore ducimus tenetur delectus ut expedita placeat doloremque animi illo!</p>

</ion-content>
