<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  This is the Contact page.

  <p>Include a contact form or links to social media.</p>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti quia sequi, odit sunt quasi iusto culpa amet itaque autem at nobis repellendus ducimus, repellat cum! Blanditiis quia enim saepe excepturi.</p>
</ion-content>
